<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Yamete</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ar</string>
		<string>ca</string>
		<string>cs</string>
		<string>da</string>
		<string>de</string>
		<string>el</string>
		<string>en</string>
		<string>en_AU</string>
		<string>en_GB</string>
		<string>es</string>
		<string>es_419</string>
		<string>fi</string>
		<string>fr</string>
		<string>fr_CA</string>
		<string>he</string>
		<string>hi</string>
		<string>hr</string>
		<string>hu</string>
		<string>id</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>ms</string>
		<string>nl</string>
		<string>no</string>
		<string>pl</string>
		<string>pt_BR</string>
		<string>pt_PT</string>
		<string>ro</string>
		<string>ru</string>
		<string>sk</string>
		<string>sl</string>
		<string>sv</string>
		<string>th</string>
		<string>tr</string>
		<string>uk</string>
		<string>vi</string>
		<string>zh_CN</string>
		<string>zh_HK</string>
		<string>zh_TW</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Studnicky</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Yamete can use the microphone to detect impact sounds on your desk.</string>
	<key>NSMotionUsageDescription</key>
	<string>Yamete uses the accelerometer to detect physical impacts on your MacBook.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
